Reference : https://facebook.github.io/prophet/docs/quick_start.html#python-api

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
%cd /gdrive/MyDrive/'CMPE 272 (1)'

/gdrive/MyDrive/CMPE 272 (1)

In [ ]:
%cd Project\ data

/gdrive/.shortcut-targets-by-id/1rkXHELIqJnWQplHIinDEuEUOHZF4x-yI/Project data

In [ ]:
!ls hvac_ahu_sensors/*

hvac_ahu_sensors/ahu1_evac.csv	hvac_ahu_sensors/ahu2_rec.csv
hvac_ahu_sensors/ahu1_ext.csv	hvac_ahu_sensors/ahu3_evac.csv
hvac_ahu_sensors/ahu1_hum.csv	hvac_ahu_sensors/ahu3_in.csv
hvac_ahu_sensors/ahu1_in.csv	hvac_ahu_sensors/ahu3_rec.csv
hvac_ahu_sensors/ahu1_rec.csv	hvac_ahu_sensors/ahu5_evac.csv
hvac_ahu_sensors/ahu2_evac.csv	hvac_ahu_sensors/ahu5_in.csv
hvac_ahu_sensors/ahu2_in.csv	hvac_ahu_sensors/ahu5_rec.csv

In [ ]:
import pandas as pd
import numpy as np
filename = 'hvac_ahu_sensors/ahu1_evac.csv'
data_raw = pd.read_csv(filename)

In [ ]:
data_raw.head()

                  Timestamp  demo/CTA1_Temperatura_Evacuare (°C)
0  06-Jan-17 5:15:00 PM EET                                 27.2
1  06-Jan-17 5:20:00 PM EET                                 27.2
2  06-Jan-17 5:25:00 PM EET                                 27.2
3  06-Jan-17 5:30:00 PM EET                                 27.2
4  06-Jan-17 5:35:00 PM EET                                 27.2

In [ ]:
data_raw.Timestamp = data_raw.Timestamp.apply(lambda x: x[:-4])

In [ ]:
data_raw.Timestamp = pd.to_datetime(data_raw.Timestamp)

In [ ]:
data_raw = data_raw.rename(columns={"Timestamp": "ds", "demo/CTA1_Temperatura_Evacuare (°C)": "y"})

In [ ]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103004 entries, 0 to 103003
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ds      103004 non-null  datetime64[ns]
 1   y       103004 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.6 MB

In [ ]:
import scipy.stats as stats
stats.zscore(data_raw.y)

array([ 0.65351472,  0.65351472,  0.65351472, ..., -0.82412812,
       -0.79200545, -0.79200545])